[Desktop Entry]
Name=Logos Bible Study
Exec=/home/frost/.local/bin/logoswebapp
Terminal=false
Type=Application
Icon=/home/frost/.local/bin/logoswebapp.png

